Datasets/
wandb/
experimental_data_folder/
beta_scripts/
historical_data/
z_beta_scripts/
experimental_data_folder_old?/
new_experiments_folder_really_old/
experimental_data_folder copy/
old_stuff/
original_old_stuff/
maybe/
safe_stuff/
TODO.txt