absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1733730548347/work
accelerate==0.25.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-cors==0.7.0
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1733532585909/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1725356557095/work
array_record==0.5.1
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1728923142236/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
async-timeout==4.0.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1734348785146/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1733236348445/work
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
bitsandbytes==0.45.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1733302318120/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.5.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib==0.7.3
chromadb==0.4.17
click @ file:///home/conda/feedstock_root/build_artifacts/click_1733221831880/work
cloudpickle==3.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
colorful==0.5.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
compressed-tensors==0.8.0
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1734687371286/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1733314767897/work/src
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1734292804024/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428322366/work
cryptography==44.0.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dataclasses-json==0.6.7
datasets==2.15.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1734158947252/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
deepspeed==0.16.2
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.15
dill==0.3.7
diskcache==5.6.3
distlib==0.3.9
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.16
durationpy==0.9
effdet==0.4.1
einops==0.8.0
emoji==2.14.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile==2.0.0
etils==1.11.0
eval_type_backport==0.2.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fairscale==0.4.13
fastapi==0.115.6
fastapi-cli==0.0.1
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
ffmpy==0.5.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1733240801289/work
filetype==1.2.0
fire==0.7.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1733838640534/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1733908971715/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841320383/work
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
huggingface_hub==0.29.3
idna==3.10
Jinja2==3.1.6
python-kaleido==0.2.1
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.16
networkx==3.4.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pillow==11.2.1
platformdirs==4.3.6
propcache==0.3.1
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.1
pydantic==2.10.6
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1733366612266/work
rsa==4.9
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298115475/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314473442/work
ruff==0.8.4
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.25.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1733760086520/work/dist/scikit_learn-1.6.0-cp310-cp310-linux_x86_64.whl#sha256=28ee6aa97e472524f039e9a4124a2becc651c856044a8fac6f90f71c0a52f461
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1733620567294/work/dist/scipy-1.14.1-cp310-cp310-linux_x86_64.whl#sha256=740019bfe16f745f6d6adf96dea7ea3d9fdbae7d7d45ef25a7c4361bebd87257
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semantic-version==2.10.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1733322040660/work
sentence-transformers==3.3.1
sentencepiece==0.2.0
sentry-sdk==2.27.0
setproctitle==1.3.5
shellingham==1.5.4
shiboken6==6.8.1
shtab==1.7.2
simple-parsing==0.1.6
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart-open==7.1.0
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
SQLAlchemy==2.0.36
sse-starlette==1.8.2
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.41.3
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986707121/work
sympy==1.13.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata
urllib3==2.3.0
wandb==0.19.8
python-xxhash==3.5.0
yarl==1.18.3
transformers==4.36.0
